#if($singleLine)
<input class="textfield text long-field#if($class) $class#end" id="$fieldId" name="$fieldId"
       #if($maxlength)maxlength="$maxlength"#end type="text" value="$textutils.htmlEncode($!value)"/>
#else
<div>
    <textarea #if($accesskey)accesskey="$accesskey"#end
              class="markdown-jira-field-edit textarea long-field#if($class) $class#end#if($mentionable) mentionable#end"
              #if($cols)cols="$cols"#end id="$fieldId" name="$fieldId" #if($rows)rows="$rows"#end
              #if($data-projectkey)data-projectkey="$data-projectkey"#end
              #if($data-issuekey)data-issuekey="$data-issuekey"#end>
## The new line above solves JRA-11257, TextAreas ignore the first newline of their inner HTML when displaying.
## This caused the TextArea to 'eat' a line of whitespace from content that was preceded by one or more newline chars
$textutils.htmlEncode($!value)</textarea>

    <script type="text/javascript">
        jQuery(function ($) {
            $('.markdown-jira-field-edit').each(function () {
                Hashify.editor(this, false);
            });
        });
    </script>
</div>
#end
